{% extends 'main/base.html' %}

{% block content %}
<div class="container py-3">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{ title }}</h1>
        <p class="fs-5 text-body-secondary">{{ subtitle }}</p>
    </div>
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои адресаты</h4>
                    </div>
                    <a href="{% url 'main:recipient_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_recipients}}<small
                                    class="text-body-secondary fw-light"> адресатов</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>
                                <li>посмотреть и добавить email адреса</li>
                                <li>и имена адресатов</li>
                            </ul>
                            <a href="{% url 'main:recipient_form' %}" class="w-100 btn btn-lg btn-outline-primary">Добавить
                                адресата</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои сообщения</h4>
                    </div>
                    <a href="{% url 'main:message_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_messages}}<small
                                    class="text-body-secondary fw-light"> сообщений</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>
                                <li>посмотреть и добавить сообщения</li>
                                <li>для отправки адресатам</li>
                            </ul>
                            <a href="{% url 'main:message_form' %}" class="w-100 btn btn-lg btn-outline-primary">Создать
                                сообщение</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои рассылки</h4>
                    </div>
                    <a href="{% url 'main:post_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_posts}}<small
                                    class="text-body-secondary fw-light"> рассылок</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>`
                                <li>посмотреть и создать</li>
                                <li>рассылки по адресатам</li>
                            </ul>
                            <a href="{% url 'main:post_form' %}" class="w-100 btn btn-lg btn-outline-primary">Создать
                                рассылку</a>

                        </div>
                    </a>
                </div>
            </div>
            <pre>

</pre>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">

            </div>
        </footer>
    </main>
</div>
{% endblock %}
