{% extends 'main/base.html' %}

{% block content %}
<div class="container py-3">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{ title }}</h1>
        <p class="fs-5 text-body-secondary">{{ subtitle }}</p>
    </div>
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои адресаты</h4>
                    </div>
                    <a href="{% url 'main:recipient_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_recipients}}<small
                                    class="text-body-secondary fw-light"> адресатов</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>
                                <li>посмотреть и добавить email адреса</li>
                                <li>и имена адресатов</li>
                            </ul>
                            <a href="{% url 'main:recipient_form' %}" class="w-100 btn btn-lg btn-outline-primary">Добавить
                                адресата</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои сообщения</h4>
                    </div>
                    <a href="{% url 'main:message_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_messages}}<small
                                    class="text-body-secondary fw-light"> сообщений</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>
                                <li>посмотреть и добавить сообщения</li>
                                <li>для отправки адресатам</li>
                            </ul>
                            <a href="{% url 'main:message_form' %}" class="w-100 btn btn-lg btn-outline-primary">Создать
                                сообщение</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Мои рассылки</h4>
                    </div>
                    <a href="{% url 'main:post_form' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{num_posts}}<small
                                    class="text-body-secondary fw-light"> рассылок</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Здесь вы можете</li>
                                <li>посмотреть и создать</li>
                                <li>рассылки по адресатам</li>
                            </ul>
                            <a href="{% url 'main:post_form' %}" class="w-100 btn btn-lg btn-outline-primary">Создать
                                рассылку</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--
                <h2 class="display-6 text-center mb-4">Compare plans</h2>

                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th style="width: 34%;"></th>
                            <th style="width: 22%;">Free</th>
                            <th style="width: 22%;">Pro</th>
                            <th style="width: 22%;">Enterprise</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="text-start">Public</th>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Private</th>
                            <td></td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        </tbody>

                        <tbody>
                        <tr>
                            <th scope="row" class="text-start">Permissions</th>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Sharing</th>
                            <td></td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Unlimited members</th>
                            <td></td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Extra security</th>
                            <td></td>
                            <td></td>
                            <td>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"/>
                                </svg>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        -->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <!--
                <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                    <small class="d-block mb-3 text-body-secondary">&copy; 2017–2024</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a>
                        </li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                </div>
                -->
            </div>
        </footer>
    </main>
</div>
{% endblock %}
