{% extends 'main/base.html' %}

{% block content %}
<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{title}}</h1>
        <p class="fs-5 text-body-secondary"></p>
    </div>
    <main>
        <div class="row row-cols-1 text-center d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Описание</h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4 text-start">
                            <li>{{text}}</li>

                        </ul>
                        <ul class="list-unstyled mt-3 mb-4 text-end">

                            <li>{{creator}}</li>
                            <li>Добавлен: {{object.created_at}}</li>
                            <li>Изменён: {{object.updated_at}}</li>
                            <li>Статус: {{enabled}}</li>
                        </ul>
                        <a href="{% url 'main:message_update' object.pk %}" type="button" class="w-100 mb-4 btn btn-lg btn-outline-primary">Редакитровать</a>
                        <form method="post" action="">
                            {% csrf_token %}
                            <a href="{% url 'main:message_delete' object.pk %}" type="submit"
                               class="w-100 btn btn-lg btn-outline-danger mb-4">Удалить</a>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">

                </div>
            </footer>
        </div>

    </main>
</div>
{% endblock %}
