{% extends 'main/base.html' %}

{% block content %}
<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Все пользователи </h1>
        <p class="fs-5 text-body-secondary"></p>
    </div>
    <main>
        <div class="row row-cols-1 text-center d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"></h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4 text-start">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Имя пользователя</th>
                                    <th scope="col">Телефон</th>
                                    <th scope="col">Активность</th>

                                </tr>
                                <tbody>

                                {% for object in objects_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.username }}</td>
                                    <td>{{ object.phone }}</td>
                                    <td>
                                        <!-- Выводим переключатель активности -->
                                        <input type="checkbox" {% if object.enabled %}checked{% endif %}>
                                    </td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>


                        </ul>


                    </div>
                </div>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">

                </div>
            </footer>
        </div>

    </main>
</div>
{% endblock %}
